<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./test/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

</phpunit>